<html>
    <head>
        <title>This is title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> This is user page</title>
      
        <link rel="stylesheet" type="text/css" href="mycss.css">
        <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="assets/css/hexagons.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    </head>
    <body style="margin:30px">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">
                <img src="\images\we.png" width="30" height="30" class="d-inline-block align-top" alt="">
                
              </a>
            
            
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul  class="navbar-nav">
                
                <li style="padding-left:30px" class="nav-item active">
                  <a class="navbar-brand" href="#">Home</a>
                </li>
                <li style="padding-left:40px" class="nav-item active">
                  <a class="navbar-brand" href="#">Doctor</a>
                </li>
                <li style="padding-left:40px" class="nav-item active">
                  <a class="navbar-brand" href="#">Products</a>
                </li>
                <li style="padding-left:40px" class="nav-item active">
                  <a class="navbar-brand" href="#">Services</a>
                </li>
                <li style="padding-left:40px" class="nav-item active">
                    <a class="navbar-brand" href="#">Entertainment</a>
                  </li>
                  <li style="padding-left:40px" class="nav-item active">
                    <a class="navbar-brand" href="#">Bolgs</a>
                  </li>
                  <li style="padding-left:40px" class="nav-item active">
                    <button style="border-radius:12px" type="button" class="btn btn-dark btn-sm navbar-brand">Login/Signup</button>
                    
                  </li>
              </ul>
            </div>
          </nav>

    <form action="/thank_you" method="post">
        <div style="text-align:center;margin-top:200px;margin-left:20% ;margin-right:20%" class="md-form amber-textarea active-amber-textarea-2">
            <i class="fas fa-pencil-alt prefix"></i>
            <textarea name="query"  class="md-textarea form-control" rows="3" required></textarea>
            
            <button style="margin:auto;margin-top:10px" type="submit" class="btn btn-success">Submit</button>
          </div>
      
    </form>
</body>


</html>